/* Shared typography scale */

:root {
  --font-family-base: "Poppins", sans-serif;

  --font-size-base: 1rem;
  --font-size-xs: 0.85rem;
  --font-size-sm: 0.95rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.75rem;
  --font-size-xxl: 2.25rem;
}

/* Typography utilities */

.heading-xxl {
  font-size: var(--font-size-xxl);
  font-weight: 700;
}
.heading-xl {
  font-size: var(--font-size-xl);
  font-weight: 700;
}
.heading-lg {
  font-size: var(--font-size-lg);
  font-weight: 700;
}
.heading-md {
  font-size: var(--font-size-md);
  font-weight: 600;
}
.heading-sm {
  font-size: var(--font-size-sm);
  font-weight: 600;
}
